body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2048px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2048px;
  height:1536px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2048px;
  height:1536px;
}
#u1 {
  position:absolute;
  left:2px;
  top:760px;
  width:2044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:908px;
  top:894px;
  width:233px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:1450px;
  top:0px;
  width:598px;
  height:1536px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:1536px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:598px;
  top:0px;
  width:852px;
  height:480px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:598px;
  top:1050px;
  width:852px;
  height:486px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:1380px;
  top:490px;
  width:60px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
