body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2048px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2048px;
  height:1536px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2048px;
  height:1536px;
}
#u1 {
  position:absolute;
  left:2px;
  top:760px;
  width:2044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:130px;
  width:480px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:0px;
  top:250px;
  width:480px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:0px;
  top:450px;
  width:480px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:0px;
  top:560px;
  width:480px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:490px;
  top:50px;
  width:170px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:480px;
  top:127px;
  width:194px;
  height:131px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:674px;
  top:127px;
  width:292px;
  height:131px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:966px;
  top:127px;
  width:154px;
  height:131px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:482px;
  top:250px;
  width:637px;
  height:360px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:480px;
  top:610px;
  width:637px;
  height:360px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:483px;
  top:970px;
  width:637px;
  height:360px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:483px;
  top:1330px;
  width:637px;
  height:206px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
